<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- link css files -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/ac_template.css">
  <link rel="stylesheet" href="/stylesheets/ac_show.css">

</head>

<body>
  <!-- link javascript files -->
  <div class="add-button fab-add">
    <a href="view/new">
    <span class="float-button">
      <i class="fas fa-plus-circle"></i>
    </span>
    </a>
  </div>
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/c8f2260657.js" crossorigin="anonymous"></script>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
      </div>
    </nav>

    <div class="banner"></div>
  </header>


  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>

</html>